@{
    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]</h1>
<p>O cadastro do seu pedido foi realizado com sucesso!</p>

<p>
    <a asp-action="Cadastro">Adicionar outro pedido.</a>
</p>

<p>
    <a asp-action="Lista">Ver Lista de Pedidos</a>
</p>
    <footer>
        <p><a href="Index">←</a>&nbsp;</p>
    </footer>