@{
    ViewData["Title"] = "Fale Conosco";
}
<h1>@ViewData["Title"]</h1>
<html lang="PT-br">
<DOCTYPE html>

    <head>
        <meta class="UTF-8">
        <title>Fale Conosco</title>
    </head>

    <body>
    </body>
    <header>
<p>
Telefone para contato: (88)8132-8639
</p>
<p>
Email: caarcticmonkeys@gmail.com   
</p>
    </header>
    <footer>
        <p><a href="Index">←</a>&nbsp;</p>
    </footer>

</html>