@{
    ViewData["Title"] = "Home Page";
}

<html lang="PT-br">
<DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta authour="Carla Alves">
        <title>MF Lanches</title>
    </head>

    <body>
<div class="text-center">
    <h1 class="display-4">MF Lanches</h1>
    <p><h5>Preço e qualidade fazem a diferença!</h5></p>
</div>
    </body>
    <header>
    </header>
    <main>
        <p>
        <h5>Confira nossas opções e faça já a reserva do seu pedido!</h5>
        </p>
     <br>

<br>

<img width="320" src="~/imagens/coxinha.jpg">
<p>Coxinha de frango: R$ 4,50</p>
<img width="320" src="~/imagens/enroladinho.jpg">
<p>Enroladinho: R$ 4,50</p>
<img width="320" src="~/imagens/enroladinhodesalsicha.jpg">
<p>Enroladinho de salsicha: R$ 4,50</p>
<img width="320" src="~/imagens/esfirra.jpg">
<p>Esfirra: R$ 4,50</p>
<img width="320" src="~/imagens/minipizza.jpg">
<p>Mini pizza: R$ 4,50</p>
<img width="320" src="~/imagens/pitchulinha.jpg">
<p>Pitchulinha: R$2,00</p>
<img width="320" src="~/imagens/sucos.jpg">
<p>Sucos: R$ 2,00</p>
<br>
<br>
    </main>
    <footer>
<p>MF Lanches 2022</p>
    </footer>

</html>