@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>
<html lang="PT-br">
<DOCTYPE html>

    <head>
        <meta class="UTF-8">
        <title>Fale Conosco</title>
    </head>

    <body>
    </body>
    <header>
<p>
A MF Lanches começou suas atividades há mais de 10 anos a partir do sonho de termos nosso próprio negócio e conseguir crescer. Temos o objetivo de facilitar a vida de quem vive na correria e não consegue preparar suas refeições todos os dias, tentamos trazer o melhor sabor e proporcionar um bom ambiente para você e sua família poder se deliciar com as nossas receitas.
</p>
    </header>
    <footer>
        <p><a href="Index">←</a>&nbsp;</p>
    </footer>

</html>