@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">MF Lanches</h1>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta authour="Carla Alves">
        <title>MF Lanches</title>
    </head>

    <body>
        <p>Preço e qualidade fazem a diferença!</p>
        <h4>Confira nossas opções e faça já a reserva do seu pedido!</h4>
        <img src="imagens/coxinha.jpg" alt="Coxinha de frango" width="300">
        <p>Coxinha de frango: R$ 4,50</p>
        <img src="imagens/enroladinho.jpg" alt="Enroladinho" width="300">
        <p>Enroladinho: R$ 4,50</p>
        <img src="imagens/enroladinhodesalsicha.jpg" alt="Enroladinho de salsicha" width="300">
        <p>Enroladinho de salsicha: R$ 4,50</p>
        <img src="imagens/esfirra.jpg" alt="Esfirra" width="300">
        <p>Esfirra: R$ 4,50</p>
        <img src="imagens/minipizza.jpg" alt="Minipizza" width="300">
        <p>Mini pizza: R$ 4,50</p>
        <img src="imagens/pitchulinha.jpg" alt="Pitchulinha" width="300">
        <p>Refri 300ml: R$ 4,50</p>
    </body>
    </html>
