@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<p>A MF Lanches começou suas atividades há mais de 10 anos a partir de um sonho de termos nosso próprio
    negócio e conseguirmos crescer.Temos o objetivo de facilitar a vida de quem vive na correria e não
    consegue preparar suas refeições todos os dias, tentamos trazer o melhor sabor e proporcionar um bom ambiente para
    você e sua família poder se deliciar com as nossas receitas.</p>