@{
    ViewData["Title"] = "Página Inicial";
}

<body>
    <img class="logo" src="imagens/logo-mf-lanches.png" alt="Logo da MF Lanches">
    <h1>Confira nossas opções e faça seu pedido clicando <a class="link1" href="pagina-02.html"> aqui!</a></h1>
    <div class="container-fluid">
        <div class="row">
            <img class="imagens col-3" src="imagens/coxinha.jpg" alt="Coxinha">
            <img class="imagens col-3" src="imagens/enroladinho-de-salsicha.jpg" alt="Enroladinho de salsicha">
            <img class="imagens col-3" src="imagens/esfiha.jpg" alt="Esfiha">
            <img class="imagens col-3" src="imagens/pastel.jpg" alt="Pastel">
        </div>
        <div class="row" id="detalhes">
            <p class="col-3">Coxinha: R$ 4,50 / unidade - cód 1</p>
            <p class="col-3">Enroladinho de salsicha: R$ 4,50 / unidade - cód 2</p>
            <p class="col-3">Esfiha: R$ 4,50 / unidade - cód 3</p>
            <p class="col-3">Pastel: R$ 4,50 / unidade - cód 4</p>
        </div>
        <div class="row">
            <img class="col-3" id="refri" src="imagens/refri.jpg" alt="">
        </div>
        <div class="row">
            <p class="col-3" id="detalhe-refri">Refrigerante 250ml: R$ 2,50 / unidade - cód 5</p>
        </div>
    </div>
</body>

</html>
