@{
    ViewData["Title"] = "Quem Somos";
     <style>
        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
            color: #F2A922;
        }

        .navbar-light .navbar-brand {
            color: #F2A922;
        }

        .text-dark {
            color: #F2A922;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #F2A922;
        }

        a {
            color: #F2A922;
        }

        .btn-primary {
            color: #fff;
            background-color: #F2A922;
            border-color: #F2A922;
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
        }

        .nav-item {
            color: #F2A922;
        }


        body {
            background-color: #323E40;
            color: whitesmoke;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-family: 'Oswald', sans-serif;
            font-family: 'Playfair Display', serif;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 1.1em;
            text-decoration: overline;
            color: #F2A922;
        }

        /* links */
        .link1 {
            display: inline-block;
            font-size: 1.1em;
            text-decoration: none;
        }

        .link1:visited {
            color: #F2A922;
        }

        .link1:hover {
            color: black;
        }

        .link2 {
            display: inline-block;
            font-size: 0.7em;
            text-decoration: none;
        }

        .link2:visited {
            color: #F2A922;
        }

        .link2:hover {
            color: black;
        }

        /*footer*/
        .copyright {
            position: absolute;
            margin-left: 660px;
            padding-bottom: 30px;
        }
    </style>
}
<h1>@ViewData["Title"]</h1>

<p>A MF Lanches começou suas atividades há mais de 10 anos a partir de um sonho de termos nosso próprio
    negócio e conseguirmos crescer.Temos o objetivo de facilitar a vida de quem vive na correria e não
    consegue preparar suas refeições todos os dias, tentamos trazer o melhor sabor e proporcionar um bom ambiente para
    você e sua família poder se deliciar com as nossas receitas.</p>