@{
    ViewData["Title"] = "Pipas da ZL";
}

<div class="text-center">

    <h1 class="display-4">Bem Vindo!</h1>
    <p> <h1> Conheça nossa medida queridinha </h1> </p>
    <br>
    <img height="420" src="~/imagens/img1.jpg">
    <br>
    <br>
    <h2> Pipa toda feita no bambu , corte e recorte que simboliza nossa bandeira do Brasil.<h2>
<br>
<br>
    <h2> PIPAS DA ZL 2022 <h2>
</div>
