@{
    ViewData["Title"] = "Medidas de Bambu";
}
<h1>@ViewData["Title"]</h1>

<p> <h2> Pipas de Bambu, veja abaixo nossas medidas: <h2> </p>
<br>

<img height="250" src="~/imagens/img 2.jpg">
<img height="250" src="~/imagens/img3.jpg">
<img height="250" src="~/imagens/img4.jpg">
<img height="250" src="~/imagens/img5.jpg">
<img height="250" src="~/imagens/img6.jpg">
<br>
<br>

<h3>"Esses são alguns modelos de pipas , existem muitos mundo a fora , escolha o seu e se divirta tentando reproduzir" <h3>

<br>

Atenciosamente Pipas da ZL
