@{
    ViewData["Title"] = "Medidas de Fibra";
}
<h1>@ViewData["Title"]</h1> 
<br>

<h2> Veja também algumas medidas de pipas de fibra: <h2>
<br>


<img height="300" src="~/imagens/img7.jpg">        <img height="300" src="~/imagens/img8.jpg"> 
<br> 
<br> 
<img height="300" src="~/imagens/img9.jpg">  <img height="300" src="~/imagens/img10.jpg">  
<br>
                          <br> <img height="300" src="~/imagens/img11.jpg">

<br>

<br> Atenciosamente Pipas da ZL